{% extends 'base.html' %}

{% block title%}WAVSP{% endblock %}

{% block content %}

	{% if all_tests %}
	<br>
		<form class="form-inline" action="{% url 'starttest' %}" method="post">
		    <div class="col-md-3 col-md-offset-3"></div>
			{% csrf_token %}
			<div class="form-group mb-2">
			  <label for="staticEmail2" class="sr-only">Text</label>
			  <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Enter the URL :">
			</div>
			
		  <div class="form-group mx-sm-3 mb-2">
		    <label for="enterurl" class="sr-only">URL</label>
		    <input type="url" class="form-control" name="inputurl" placeholder="http://">
		  </div>
		  	<input class="btn btn-dark mb-2" type = "submit" value="Start Test">
		  <!--<button type="submit" class="btn btn-secondary mb-2" a class="nav-link" href="{% url 'starttest' %}">Start Test</a></button>-->
		  <!--<a href="{% url 'starttest' %}" class="btn btn-secondary mb-2" role="button" value="red">Start Test</a>-->
		</form>
	<br>
		<button type="button" class="btn btn-dark">
  			Web Based Vulnerabilities <span class="badge badge-light">5</span>
		</button>
	<br>
	<table class="table table-bordered">
		<thead class="thead-light">
    	<tr>
    		<th scope="col"><center>{{ '#' }}</center></th>
      		<th scope="col"><center>{{ 'Vulnerability Check Name' }}</center></th>
     		<th scope="col"><center>{{ 'Result' }}</center></th>
    	</tr>
  		</thead>
			{% for test in all_tests %}
					{%if test.vuln_type == 'web'%}
						{%if test.result == 'p'%}
							<tr>
								<td><center>{{ test.roll }}</center></td>
								<td>{{ test.name }}</td>
								<td class="table-success"><center><a href="{% url 'report' test.roll%}" style="color: #025109" target="_blank">PASS</a></center></td>
							</tr>
						{%elif test.result == 'f'%}
							<tr>
								<td><center>{{ test.roll }}</center></td>
								<td>{{ test.name }}</td>
								<td class="table-danger"><center><a href="{% url 'report' test.roll%}" style="color: #9F0303" target="_blank">FAIL</a></center></td>
							</tr>
						{%else%}
							<tr>
								<td><center>{{ test.roll }}</center></td>
								<td>{{ test.name }}</td>
								<td class="table-default"><center>{{ '----' }}</center></td>
							</tr>	
						{%endif%}
					{%endif%}
			{% endfor %}
	</table>
	<br>
	<button type="button" class="btn btn-dark">
  		Network Based Vulnerabilities <span class="badge badge-light">5</span>
	</button>
	<br>
	<table class="table table-bordered">
		<thead class="thead-light">
    	<tr>
    		<th scope="col"><center>{{ '#' }}</center></th>
      		<th scope="col"><center>{{ 'Vulnerability Check Name' }}</center></th>
     		<th scope="col"><center>{{ 'Result' }}</center></th>
    	</tr>
  		</thead>
		{% for test in all_tests %}
			{%if test.vuln_type == 'network'%}
				{%if test.result == 'p'%}
					<tr>
						<td><center>{{ test.roll }}</center></td>
						<td>{{ test.name }}</td>
						<td class="table-success"><center><a href="{% url 'report' test.roll%}" style="color: #025109" target="_blank">PASS</a></center></td>
					</tr>
				{%elif test.result == 'f'%}
					<tr>
						<td><center>{{ test.roll }}</center></td>
						<td>{{ test.name }}</td>
						<td class="table-danger"><center><a href="{% url 'report' test.roll%}" style="color: #9F0303" target="_blank">FAIL</a></center></td>
					</tr>
				{%else%}
					<tr>
						<td><center>{{ test.roll }}</center></td>
						<td>{{ test.name }}</td>
						<td class="table-default"><center>{{ '----' }}</center></td>
					</tr>	
				{%endif%}
			{%endif%}
		{% endfor %}
	</table>
	{% endif %}

{% endblock %}